/* D3 chart basic styling */
svg {
  font: 14px "Source Sans Pro", sans-serif;
  border: 1px solid #444;
  background-color: #222; // in case of creating a svg/png/jpg file
}
/* Text  styling */
text {
  fill: #fff;
}
text.black {
  fill: #000;
  font-weight: normal;
}
text.small {
  font-size: 8px;
}
/* Line  styling */
path.line {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
.line.thick {
  stroke-width: 5px;  
}
.line.thin {
  stroke-width: 1px;  
}
.line.highlight {
  stroke: #FF6666;
}
path.line:hover {
  stroke-width: 6px;  
}
/* Bar  styling */
rect {
  fill: #999;
}
rect:hover {
  fill: #ccc;
}
rect.highlight {
  fill: #FF3333;
}
rect.highlight:hover {
  fill: #FF6666;
}
/* Axis  styling */
.axis path,
.axis line {
  fill: none;
  stroke: #444;
  shape-rendering: crispEdges;
}
.y.axis path, .x.axis path {
  stroke: #444;
}
.y.axis line {
  stroke: #444;
  shape-rendering: crispEdges;
}
.y.axis .zero line {
  stroke: #444;
  stroke-opacity: 1;
}

/* Tooltip styling */
.d3-tip {
  line-height: 1;
  font-weight: normal;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/* Specifics */
.birthyear,
.age {
  text-anchor: middle;
}
.birthyear {
  fill: #fff;
}