
@import "settings";
@import "chart";

@import

   "foundation/components/grid";
//   "foundation/components/thumbs",
//   "foundation/components/buttons",
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


h1, h2, h3, h4, h5 {
	color: #ddd;
}
a {
	color: #ddd;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
		color: #fff;
	}
	&:active {
		color: #ddd;
	}
	&:visited {
		color: #ddd;
	}
}
button, .button {
	background-color: #aaa;
	&:hover {
		background-color: #eee;		
	}
}
.invert {
	color: #444;
}

::selection {
    background: #E8E7BE;
    color: #000;
}

::-moz-selection {
    background: #E8E7BE;
    color: #000;
}

// font sizes media queries
@media #{$small-up} {
	h1 {
		font-size: 1.5rem;
	}
	h2, h3, h4, h5, h6 {
		font-size: 1rem;
	}
}
@media #{$medium-up} {
	h1 {
		font-size: 1.8rem;
	}
	h2 {
		font-size: 1.3rem;
	}
	h3, h4, h5, h6 {
		font-size: 1.1rem;
	}
}
@media #{$large-up} {
	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 1.5rem;
	}
	h3, h4, h5, h6 {
		font-size: 1.2rem;
	}
}
