<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>blog.buechi.name Visualisierung</title>
  <link rel="stylesheet" href="../stylesheets/styles.css">
  <link rel="stylesheet" href="../stylesheets/d3.css">
  <script src="../javascripts/d3.min.js"></script>
  <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
</head>
<body>
  <header class="header">
    <h1>ChartTitle</h1>
    <p>WhatThisChartIsAbout</p>
  </header>
  <section class="maindata">
    <div class="chart"></div>
  </section>
  <section class="metadata">
    <p>Data source: <a href="">DataSource</a></p>
    <p>Chart created by: <a href="http://blog.buechi.name">Simon Buechi</a></p>
    <p>Published on <a href="http://blog.buechi.name">blog.buechi.name</a></p>
  </section>  

  <script>
  // D3 script code comes here
  </script>

</body>
