@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

body {
  padding:40px;
  font:16px/1.4 "Source Sans Pro", Helvetica, Arial, sans-serif;
  color:#ccc;
  font-weight:400;
  background-color: #222;
}

h1, h2, h3, h4, h5, h6 {
  color:#eee;
  margin:0 0 20px;
  font-weight: 600;
  line-height:1.1;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
  font-size: 1em;
}
h1 {
  font-size:2em;
}
h2 {
  font-size:1.5em;
}
h3, h4, h5, h6 {
  font-size:1em;
}
a {
  color:#222;
  font-weight:400;
  text-decoration:underline;
}
.wrapper {
  width:860px;
  margin:0 auto;
}
blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}
code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:0.8em;
}
pre {
  padding:8px 15px;
  background: #f8f8f8;  
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}
table {
  width:100%;
  border-collapse:collapse;
}
th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}
dt {
  color:#444;
  font-weight:700;
}
th {
  color:#444;
}
img {
  max-width:100%;
}
strong {
  color:#222;
  font-weight:700;
}
small {
  font-size:0.8em;
}
.button {
	background-color:#bbb;
	display:inline-block;
	cursor:pointer;
	color:#222;
	padding:16px;
	text-decoration:none;
}
.button:hover {
	background-color:#eee;
}
.button:active {
	position:relative;
	top:1px;
}

/* D3 Styling */

svg {
  font: 10px sans-serif;
}

.y.axis path {
  display: none;
}

.y.axis line {
  stroke: #fff;
  stroke-opacity: .2;
  shape-rendering: crispEdges;
}

.y.axis .zero line {
  stroke: #000;
  stroke-opacity: 1;
}

.title {
  font: 400 78px "Source Sans Pro";
  fill: #666;
}

.birthyear,
.age {
  text-anchor: middle;
}

.birthyear {
  fill: #fff;
}

rect {
  fill-opacity: .6;
  fill: #e377c2;
}

rect:first-child {
  fill: #1f77b4;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
